<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.promise.test.service.mapperService.TestBugImgMapper">

    <insert id="insert" parameterType="org.promise.test.service.mapperService.po.TestBugImgPO">
        insert into test_bug_img (test_id, img_url)
        values (#{testId},#{imgUrl});
    </insert>

    <insert id="insertBatch" parameterType="org.promise.test.service.mapperService.po.TestBugImgPO">
        insert into test_bug_img (test_id,img_url)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.testId},#{item.imgUrl})
        </foreach>
    </insert>

    <select id="getAllBugImgByTestId" resultType="org.promise.test.service.mapperService.po.TestBugImgPO">
        select * from test_bug_img
        where test_id=#{testId};
    </select>

    <select id="getUsableBugImgByTestId" resultType="org.promise.test.service.mapperService.po.TestBugImgPO">
        select * from test_bug_img
        where test_id=#{testId} AND deleted=0;
    </select>

    <update id="deleteAllBugImgByTestId" parameterType="java.lang.Long">
        update test_bug_img
        set deleted=1
        where test_id=#{testId} AND deleted=0;
    </update>

</mapper>