$theme-blue-pro: #2C7DFA;
$theme-blue-plus: #1973e8;
$theme-blue: #409EFF;
$theme-blue-lite: #5995fd;
$theme-green: #67C23A;
$theme-orange: #E6A23C;
$theme-red: #F56C6C;
$theme-gray-pro: #5F6368;
$theme-gray: #909399;
$theme-gray-lite: #999999;
$theme-black: #202124;
$theme-black-lite: #333333;
$bg-gray: #F5F5F5;
$bg-gray-pro: #E0E0E0;
$bg-orange: #FDF6EC;
$bg-green: #F0F9EB;
$bg-blue-lite: #FBFDFF;
$bg-blue: #E8F8FE;
